html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

body {
  background: var(--white-main-and-other);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: var(--text-font-color);
}

:root {
  --headers-font-color: #212121;
  --text-font-color:  #757575;
  --other-fonts: #2196F3;
  --white-main-and-other: #fff;
  --svg-icons:#AFB1B8;
  --grey-background: #F5F4FA;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.title-hidden {
  display: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  margin-left: 30px;
  margin-top: 30px;
}

.btn {
  display: inline-block;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.058em;
  color: var(--white-main-and-other);
  background: var(--other-fonts);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
  opacity: 1;
  transform: scale(1);
  transition: opacity var(--animation), transform var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
  transition: opacity var(--animation), visibility var(--animation), transform var(--animation);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--white-main-and-other);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-main-and-other);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-svg {
  fill: #000;
  transition: fill var(--animation);
}

.modal__close-btn:focus .modal__close-svg,
.modal__close-btn:hover .modal__close-svg {
  fill: var(--other-fonts);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--headers-font-color);
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-font-color);
}

.modal-form-inputs {
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  color: var(--text-font-color);
  box-shadow: 0 0 0px 1000px #fff inset;
}

.modal-form__svg {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  bottom: 11px;
  fill: var(--headers-font-color);
}

.modal__inputs:focus {
  outline: none;
  border: 1px solid var(--other-fonts);
  background-color: var(--white-main-and-other);
}

.modal__inputs:focus + .modal-form__svg {
  fill: var(--other-fonts);
}

.modal-form-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  height: 120px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox {
  display: inline-block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-font-color);
}

.modal-form-checkbox::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  left: -8px;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .modal-form-checkbox::before {
  background: url(../img/svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--other-fonts);
  border: var(--other-fonts);
}

.modal--link {
  color: var(--other-fonts);
}

.modal__btn {
  padding: 10px 55px;
}

.middle-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--headers-font-color);
  text-align: center;
}

.section {
  padding: 94px 0;
}

.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ECECEC;
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.nav__logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000;
  text-decoration: none;
}

.nav__logo--web {
  color: var(--other-fonts);
}

.nav__list {
  display: inline-flex;
  margin-left: 93px;
}

.nav__list .nav__link--current {
  color: var(--other-fonts);
}

.nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: inline-block;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  color: var(--headers-font-color);
  text-decoration: none;
  transition: color var(--animation);
}

.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  width: 100%;
  height: 4px;
  background: var(--other-fonts);
  border-radius: 2px;
}

.page-header__contacts {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-font-color);
  transition: color var(--animation);
}

.page-header__contacts--mail {
  margin-right: 50px;
}

.nav__link:hover,
.nav__link:focus,
.page-header__contacts:hover,
.page-header__contacts:focus {
  color: var(--other-fonts);
}

.page-header__contacts-icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--text-font-color);
  transition: fill var(--animation);
}

.page-header__contacts:focus .page-header__contacts-icon,
.page-header__contacts:hover .page-header__contacts-icon {
  fill: var(--other-fonts);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  background: #C4C4C4;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  display: block;
  width: 1600px;
  height: 600px;
  background: rgba(47, 48, 58, 0.4);
  z-index: 1;
}

.hero__content {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.hero__title {
  width: calc(100% / 12 * 7);
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-main-and-other);
}

.hero__btn {
  padding: 10px 32px;
}

.preferenses__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: var(--grey-background);
  border-radius: 4px;
}

.preferenses__svg--icons {
  width: 70px;
  height: 70px;
}

.preferenses__titles {
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--headers-font-color);
}

.preferenses__text {
  line-height: 1.71;
}

.mainfo {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.works {
  padding-top: 0;
}

.works__items {
  position: relative;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.works__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  z-index: 2;
  bottom: 2px;
}

.works__overlay-text {
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-main-and-other);
}

.team {
  background: var(--grey-background);
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  background: var(--white-main-and-other);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__block {
  margin-bottom: 30px;
}

.team__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
  color: var(--headers-font-color);
}

.team__block-text {
  margin-bottom: 16px;
}

.team__socials {
  display: inline-flex;
}

.team__socials-items:not(:last-child) {
  margin-right: 10px;
}

.team__socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color var(--animation);
}

.team__socials-links:hover, .team__socials-links:focus {
  background-color: var(--other-fonts);
}

.team__socials-icons {
  width: 20px;
  height: 20px;
  fill: var(--svg-icons);
  transition: fill var(--animation);
}

.team__socials-links:hover .team__socials-icons,
.team__socials-links:focus .team__socials-icons {
  fill: var(--white-main-and-other);
}

.clients__list {
  display: flex;
}

.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg-icons);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--animation);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--other-fonts);
  box-sizing: border-box;
  border-radius: 4px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: var(--svg-icons);
  transition: fill var(--animation);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--other-fonts);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-section {
  display: flex;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-main-and-other);
  text-decoration: none;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__address-item {
  line-height: 1.71;
  color: var(--white-main-and-other);
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}

.footer__contacts {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color var(--animation);
  margin-bottom: 9px;
}

.footer__contacts:hover, .footer__contacts:focus {
  color: var(--other-fonts);
  cursor: pointer;
}

.footer__join-us {
  display: block;
  margin-left: 70px;
}

.footer__join-us-text {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-main-and-other);
}

.footer__socials {
  display: flex;
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}

.footer__socials-links:hover, .footer__socials-links:focus {
  background-color: var(--other-fonts);
}

.footer__socials-icons {
  width: 20px;
  height: 20px;
  fill: var(--white-main-and-other);
}

.footer__subscribe-form {
  display: block;
  margin-left: 93px;
}

.subscribe {
  display: flex;
}

.sub__input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.sub__label::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.sub__svg {
  margin-left: 10px;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
}

.potfolio__btn-item {
  display: inline-block;
  margin-bottom: 50px;
}

.potfolio__btn-item:not(:last-child) {
  margin-right: 8px;
}

.potfolio__btn {
  display: inline-block;
  background: var(--grey-background);
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--headers-font-color);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.potfolio__btn:hover, .potfolio__btn:focus {
  color: var(--white-main-and-other);
  background-color: var(--other-fonts);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.potfolio__examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio__item--link {
  text-decoration: none;
  overflow: hidden;
  transition: box-shadow var(--animation);
}

.portfolio__item--link:hover, .portfolio__item--link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item-img {
  display: block;
}

.portfolio__overlay-group {
  position: relative;
  max-width: 370px;
  max-height: 294px;
}

.portfolio__overlay-item {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  transition: transform var(--animation);
  transform: translatey(101%);
}

.portfolio__item--link:hover .portfolio__overlay-item,
.portfolio__item--link:focus .portfolio__overlay-item {
  transform: translatey(0);
}

.portfolio__overlay-text {
  margin: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-main-and-other);
}

.portfolio__card--boxes {
  position: relative;
  z-index: 5;
  padding: 20px 24px;
  background: var(--white-main-and-other);
  border: 1px solid #EEEEEE;
}

.portfolio__card {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers-font-color);
}

.porfolio__cards-txt {
  display: inline-block;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-font-color);
}
/*# sourceMappingURL=main.css.map */