.clients__list{
    display: flex;  
}
.clients__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--svg-icons);
    box-sizing: border-box;
    border-radius: 4px;

    transition: border var(--animation);

    &:hover,
    &:focus{
    border: 1px solid var(--other-fonts);
    box-sizing: border-box;
    border-radius: 4px;
    }
}
.clients__item:not(:last-child){
    margin-right: 30px;
}
.clients__icon{
    fill: var(--svg-icons);

    transition: fill var(--animation);
    .clients__link:hover &,
    .clients__link:focus &{
    fill: var(--other-fonts);}

}