.page-header{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ECECEC;
}
.page-header__container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.web-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #000;
    text-decoration: none;
}
.web-logo--style{
    color: var(--other-fonts);
}

.mobile-header{
    @media screen and (min-width: 280px) and (max-width: 767.98px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: contents;
        
    }
}
.nav{
    display: flex;
    margin-right: auto;
    align-items: center;

}

.nav__list{
    display: inline-flex;
    margin-left: 88px;
    & .nav__link--current{
        color: var(--other-fonts);
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }

}
.nav__list-item:not(:last-child) {
    margin-right: 50px;
}
.nav__link{
    display: inline-block;
    position: relative;

    font-weight: 500;
    line-height: 1.14;
    color: var(--headers-font-color);
    text-decoration: none;

    transition: color var(--animation);
}
.nav__link--current::after{
    content: "";
    display: block;
    position: absolute;

    bottom: -30px;
    width: 100%;
    height: 4px;
    background: var(--other-fonts);
    border-radius: 2px;
}
.tablet-contacts--position{

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.page-header__contacts {
    display: flex;
    align-items: center;
    

    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-font-color);

    transition: color var(--animation);

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.page-header__contacts--mail{

    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
    
}
.nav__link:hover,
.nav__link:focus,
.page-header__contacts:hover,
.page-header__contacts:focus{
    color: var(--other-fonts);

}
.page-header__contacts-icon{
    display: inline-block;
    margin-right: 10px;
    fill: var(--text-font-color) ;

    transition: fill var(--animation);
    .page-header__contacts:focus &,
    .page-header__contacts:hover &{
    fill: var(--other-fonts);
}
}
