.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--animation), transform var(--animation);

}
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.8);
    transition: opacity var(--animation), visibility var(--animation), transform var(--animation);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    padding: 40px;

    background: var(--white-main-and-other);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal__close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background: var(--white-main-and-other);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}
.modal__close-svg{
    fill: #000;
    transition: fill var(--animation);
}
.modal__close-btn:focus  .modal__close-svg,
.modal__close-btn:hover  .modal__close-svg{
    fill: var(--other-fonts);
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__title{
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--headers-font-color);
}
.modal__label{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var( --text-font-color);
}
.modal-form-inputs{
    margin-top: 4px;
    padding-left: 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    color: var(--text-font-color);
    box-shadow: 0 0 0px 1000px #fff inset;
}
.modal-form__svg{
    position: absolute;
    left: 12px;
    width: 18px;
    height: 18px;
    bottom: 11px;
    fill: var(--headers-font-color);
}
.modal__inputs:focus {
    outline: none;
    border: 1px solid var(--other-fonts);
    background-color: var(--white-main-and-other);
}
.modal__inputs:focus + .modal-form__svg{
    fill: var(--other-fonts);
}

.modal-form-textarea{
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    height: 120px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
.modal-form-textarea::placeholder{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox{
    display: inline-block;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-font-color);
}
.modal-form-checkbox::before{
    content: "";
    display: inline-block;
    position: relative;
    top: 3px;
    left: -8px;
    width: 16px;
    height: 16px;
    border: 2px solid #212121;;
    border-radius: 2px;
}
.checkbox:checked + .modal-form-checkbox::before{
    background: url(../img/svg/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--other-fonts);
    border: var(--other-fonts);
}
.modal--link{
    color: var(--other-fonts);
}
.modal__btn{
    padding: 10px 55px;
}